[submodule "mtcnn"]
	path = mtcnn
	url = https://github.com/jbrownlee/mtcnn.git
[submodule "foolbox"]
	path = foolbox
	url = https://github.com/bethgelab/foolbox.git
[submodule "tensorflow-vgg"]
	path = tensorflow-vgg
	url = https://github.com/machrisaa/tensorflow-vgg
